@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

a {
  text-decoration: none;
}

.content {
  margin-top: 50px;
  margin-bottom: 50px;
}
.content .container {
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section {
  width: 1280px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-columns: 285px 30px 950px;
  grid-template-columns: 285px 950px;
  -ms-grid-rows: 25px 30px auto;
  grid-template-rows: 25px auto;
  grid-gap: 30px;
}

section > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

section > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

section > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

section > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
section .bread_crumbs {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
section .bread_crumbs .bread_crumbs_item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #525659;
  cursor: pointer;
}
section .bread_crumbs .bread_crumbs_item.active {
  color: #828282;
}
section .bread_crumbs .arrow {
  margin: 0 8px;
}
section .bread_crumbs .arrow svg {
  width: 7px;
  height: 6px;
  margin-bottom: 3px;
}
section .category_box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
section .category_box h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 20px;
  color: #525659;
  margin-bottom: 30px;
}
section .category_box a {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 20px;
  color: #525659;
  margin-bottom: 30px;
  white-space: nowrap;
}
section .subcategory_box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 300px 25px 300px 25px 300px;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 25px;
  position: relative;
}
section .subcategory_box .shadow_box {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  display: none;
}
section .subcategory_box .shadow_box.showSubcategory {
  display: block;
}
section .subcategory_box .subcategory_itemBox {
  position: relative;
  z-index: 1;
  height: 580px;
}
section .subcategory_box .subcategory_itemBox:hover {
  z-index: 3;
}
section .subcategory_box .subcategory_itemBox:hover .subcategory_item {
  border: 1px solid #82C8EA;
}
section .subcategory_box .subcategory_itemBox.showSubcategory {
  z-index: 3;
}
section .subcategory_box .subcategory_itemBox.showSubcategory .subcategory_item {
  border: 1px solid #82C8EA;
}
section .subcategory_box .subcategory_itemBox.showSubcategory .item_desc .subcategory {
  display: block !important;
}
section .subcategory_box .subcategory_itemBox.showSubcategory .item_desc .more {
  display: none;
}
section .subcategory_box .subcategory_itemBox .subcategory_item {
  border: 1px solid #F2F2F2;
  border-radius: 10px;
  padding: 25px;
  border-radius: 10px;
  background: #FFFFFF;
}
section .subcategory_box .subcategory_itemBox .subcategory_item .item_images {
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
  border-radius: 16px;
  overflow: hidden;
}
section .subcategory_box .subcategory_itemBox .subcategory_item .item_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
section .subcategory_box .subcategory_itemBox .subcategory_item .item_desc .title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #1A8ED0;
  margin-bottom: 10px;
}
section .subcategory_box .subcategory_itemBox .subcategory_item .item_desc .subcategory {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #525659;
  margin-bottom: 10px;
}
section .subcategory_box .subcategory_itemBox .subcategory_item .item_desc .subcategory:nth-child(n+7) {
  display: none;
}
section .subcategory_box .subcategory_itemBox .subcategory_item .item_desc .more {
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(26, 142, 208, 0.7);
}